
<!-- HEADER BAR -->
<header class="header">
  <div class="left">
    <button class="menu-btn" (click)="toggleSidebar()">☰</button>
  </div>

  <div class="center">
    <h1>Faculty Work Tracker</h1>
  </div>

 <div class="right">
  <a href="/login">Login</a> | <a href="/register">Register</a>
</div>
</header>

<!-- SIDEBAR -->
<nav class="sidebar" [class.active]="sidebarOpen">
  <nav>
  <ul>
    <li><a href="dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
   <li><a href="teachers"><i class="fa-solid fa-chalkboard-teacher"></i> Teachers</a></li>
  <li><a href="work-schedules"><i class="fa-solid fa-calendar-check"></i> Work Schedules</a></li>
  <li><a href="task"><i class="fa-solid fa-tasks"></i> Task Log</a></li>
</ul>

  <div class="sidebar-footer">
    <div class="user-info">
      <i class="fa-solid fa-user"></i>
      <span >bhartibhatia1106@gmail.com</span>
    </div>
    <a href="profile"> <i class="fa-solid fa-gear"></i> Profile Info </a>
    <a href="logout">Logout</a>
  </div>
  
</nav>
