<div class="work-schedule">
  <h2>Teacher Work Schedule</h2>
  <div class="timetable">
    <div class="row header">

      <div class="cell time-slot">Time</div>
      <div class="cell" *ngFor="let day of days">{{ day }}</div>

    </div>

    <div class="row" *ngFor="let time of timeSlots">
      <div class="cell time-slot">{{ time }}</div>
      <div class="cell" *ngFor="let day of days">
        <div class="task" *ngIf="schedule[day] && schedule[day][time]">
          <strong>{{ schedule[day][time].subject }}</strong><br>
          <!-- <span>{{ schedule[day][time] }}</span> -->
        </div>
      </div>
    </div>
  </div>
</div>
